.nav {
    grid-area: nav;
    background-color: #7e7e7e;
    display: flex;
    flex-direction: column;
    gap : 10px;
    padding: 10px;
}
.item {
    color : rgba(255, 255, 255, 0.66);
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
}
.item.active  {
    font-size: 22px;
    color : #ffffff;
}