.content {
    display: flex;
    padding: 10px;
}
.list {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap : 10px
}

.dialogs {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}
