.appWrapper {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-areas: "header header header" "nav content content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap : 10px;
}


